extends layout

block scripts
	script(src="index.js")

block bodyContent
	div(style="margin-left:25%")

	div(class="w3-container w3-center w3-text-dark-gray")
		br
		h1(class="w3-xlarge") <b> Avaliação de performance de uma BD Oracle</b>
	div(class="w3-container w3-center")
		p ____________________________________________________________________________________________________________________________________
		br
		p Este website é a interface gráfica para monitorização de Bases de Dados Oracle desenvolvida pelo grupo.
		br
		p Para consultar os dados sobre a mesma selecione um dos parâmetros acima.
		br
		p ____________________________________________________________________________________________________________________________________
		br
		h4 Autores
		p Adriana Guedes - A74545
		p Bruno Sousa - A74330
		p Marco Barbosa - A75278
		p Ricardo Certo - A75315
		br




  		
	
	