extends layout


block bodyContent

	div(class="w3-container w3-text-light-blue w3-center")
		h1(class="w3-xxxlarge") <b>Administração e Exploração de Bases de Dados</b>
	div(class="w3-container w3-center")
		p Estou dentro do div do index e quero dizer muitas coisas fixes, futuramente

				