html
	head
		link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css")
		block scripts 
		meta(charset="UTF-8")
		title TP - AEBD
		
	body
		div(class="w3-container w3-blue-gray w3-center")
			h1(class="w3-xxlarge") <b>Administração e Exploração de Bases de Dados</b>
		div(class="w3-container", style="padding-top:7px")
			header(class="w3-bar w3-blue-gray w3-round-large w3-padding w3-center")
				a(href="/" class="w3-bar-item w3-button w3-mobile w3-round-large") Home
				a(href="/app/cpu" class="w3-bar-item w3-button") CPU
				a(href="/app/sessions" class="w3-bar-item w3-button") Sessions
				a(href="/app/users" class="w3-bar-item w3-button") Users
				a(href="/app/memstorage" class="w3-bar-item w3-button") Memory Storage
				a(href="/app/tablespaces" class="w3-bar-item w3-button") Tablespaces
				a(href="/app/datafiles" class="w3-bar-item w3-button") Datafiles
				a(href="/app/sql" class="w3-bar-item w3-button") SQL Commands
				a(href="/app/roles" class="w3-bar-item w3-button") Roles

		block bodyContent

		footer(class="w3-container w3-blue-gray w3-bottommidlle w3-large")
			address(style="text-align:center") Mestrado Integrado em Engenharia Informática - Universidade do Minho



