
html
	head
		link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
		meta(charset="UTF-8")
		title Amostras
		style
	body
		div(class="w3-container")
			header(class="w3-bar w3-blue-gray w3-round-large w3-padding")
				a(href="/" class="w3-bar-item w3-button w3-mobile w3-round-large") Home

		block bodyContent

		div(class="w3-container")
			footer(class="w3-container w3-blue-gray w3-bottommidlle w3-round-large")
				address(style="text-align:center") Amostra em baixo layout.pug